.con__ {
  background: #FFFFFF;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.con__ .top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.con__ .top .imgNameCon {
  display: flex;
  align-items: center;
}
.con__ .top .imgNameCon .imgCon {
  width: 100px;
  height: 100px;
}
.con__ .top .imgNameCon .imgCon img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.con__ .top .imgNameCon .nameCon {
  margin-left: 1rem;
}
.con__ .top .imgNameCon .nameCon h3 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  color: #213F7D;
}
.con__ .top .imgNameCon .nameCon p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.875rem;
  color: #545F7D;
  margin-top: 0.5rem;
}
.con__ .top .tier {
  margin: 0 1rem;
  border-left: 1px solid #545F7D;
  border-right: 1px solid #545F7D;
  padding: 1rem;
}
.con__ .top .tier h4 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 0.875rem;
  color: #545F7D;
}
.con__ .top .tier .rate .first,
.con__ .top .tier .rate .star {
  color: #E9B200;
}
.con__ .top .bank__ h1 {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375rem;
  color: #213F7D;
}
.con__ .top .bank__ p {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #213F7D;
}
.con__ .bottom {
  margin-top: 3rem;
  font-family: SFCompactText;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.con__ .bottom button {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1024px) {
  .con__ .top .imgNameCon .imgCon {
    width: 80px;
    height: 80px;
  }
  .con__ .top .imgNameCon .nameCon {
    margin-left: 1rem;
  }
  .con__ .top .imgNameCon .nameCon h3 {
    font-size: 1rem;
  }
  .con__ .top .imgNameCon .nameCon p {
    font-size: 0.75rem;
  }
  .con__ .top .tier h4 {
    font-size: 0.75rem;
  }
  .con__ .top .bank__ h1 {
    font-size: 1rem;
  }
  .con__ .top .bank__ p {
    font-size: 0.7rem;
  }
  .con__ .bottom button {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 630px) {
  .con__ .top .imgNameCon {
    width: 100%;
  }
  .con__ .top .imgNameCon .imgCon {
    width: 80px;
    height: 80px;
  }
  .con__ .top .imgNameCon .nameCon {
    margin-left: 1rem;
  }
  .con__ .top .imgNameCon .nameCon h3 {
    font-size: 1rem;
  }
  .con__ .top .imgNameCon .nameCon p {
    font-size: 0.75rem;
  }
  .con__ .top .tier {
    margin-top: 1rem;
    border-left: none;
    margin-left: 0;
    padding-left: 0;
  }
  .con__ .top .tier h4 {
    font-size: 0.75rem;
  }
  .con__ .top .bank__ {
    margin-top: 1rem;
  }
  .con__ .top .bank__ h1 {
    font-size: 1rem;
  }
  .con__ .top .bank__ p {
    font-size: 0.7rem;
  }
  .con__ .bottom {
    margin-top: 1rem;
    justify-content: flex-start;
  }
  .con__ .bottom button {
    font-size: 0.875rem;
  }
}/*# sourceMappingURL=styles.module.css.map */