.back {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    color: #545F7D;

    &:hover {
        opacity: .8;
        transition: all .5ms ease-in;
    }

    .icon_ {
        margin-right: 1rem;
    }
}

.header_ {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    h1 {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        color: #213F7D;
    }

    div {
        button {
            border-radius: 8px;
            font-family: 'Work Sans', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: .75rem;
            text-transform: uppercase;
            padding: .75rem;
            margin: 0 .5rem;
        }

        .blacklist {
            border: 1px solid #E4033B;
            color: #E4033B;
        }

        .activate {
            border: 1px solid #39CDCC;
            color: #39CDCC;
        }
    }
}

@media screen and (max-width:1024px) {
    .back {
        font-size: .875rem;

    }

    .header_ {

        h1 {
            font-size: 1.2rem;
        }

        div {
            button {
                font-size: .75rem;
            }


        }
    }
}

@media screen and (max-width:420px) {
    .back {
        font-size: .875rem;

    }

    .header_ {

        h1 {
            font-size: 1.2rem;
        }

        div {
            width: 100%;
            button {
                width: 100%;
                margin: 1rem 0 0 0;

            }
        }
    }
}