.users {

    h3 {
        font-family: 'Work Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        color: #213F7D;
    }

    .cons_ {
        margin: 3rem 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        div {
            background: #FFFFFF;
            border: 1px solid rgba(33, 63, 125, 0.06);
            box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
            border-radius: 4px;
            padding: 1rem;
            width: 23%;
            cursor: pointer;

            &:hover {
                opacity: .8;
            }

            img {
                width: 40px;
                height: 40px;
                object-fit: contain;
            }

            h4 {
                font-family: 'Work Sans', sans-serif;
                margin: .8rem 0;
                color: #545F7D;
                font-size: .875rem;
                text-transform: uppercase;
                font-weight: 500;
            }

            h2 {
                font-family: 'Work Sans', sans-serif;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 1.5rem;
                color: #213F7D;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .users {

        h3 {
            font-size: 1.2rem;
        }
        .cons_ {
            div {
                img {
                    width: 30px;
                    height: 30px;
                }

                h4 {
                    font-size: .75rem;
                }

                h2 {
                    font-size: 1.2rem;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {
    .users {
        .cons_ {
            margin: 0;
            div {
                width: 47%;
                margin: 1rem 0;
            }
        }
    }
}

@media screen and (max-width:540px) {
    .users {
        .cons_ {

            div {
                width: 100%;
                margin: 1rem 0;
            }
        }
    }
}