.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-shadow: 3px 0px 20px rgba(0, 0, 0, 0.04);


    .imgCon {
        width: 18rem;
        padding: 0 2rem;
    }

    .form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: calc(100% - 18rem);
        padding: 0 3rem;

        form {
            display: flex;
            justify-content: space-between;
            width: 40%;

            input {
                width: 100%;
                background: #FFFFFF;
                color: #545F7D;
                border: 1px solid rgba(84, 95, 125, 0.15);
                outline: none;
                border-radius: 8px;
                font-size: 1rem;
                padding: .5rem;
                border-radius: 8px 0 0 8px;

                &::placeholder {
                    color: #545F7D;
                    font-size: 0.75rem;
                    opacity: .6;
                }

                &:hover {
                    color: #545F7D;
                }
            }

            button {
                width: 50px;
                background: #39CDCC;
                color: #fff;
                font-size: 1rem;
                padding: .5rem;
                border-radius: 0px 8px 8px 0px;
                cursor: pointer;

                &:hover {
                    background: none;
                    color: #39CDCC;
                    border: 1px solid #39CDCC;
                }
            }
        }
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .docs {
            display: inline-block;
            margin: 0 .75rem;
            font-size: 1rem;
            color: #213F7D;
            text-decoration: underline;
            font-family: 'Roboto', sans-serif;
        }

        .notififcation {
            display: inline-block;
            position: relative;
            margin: 0 .75rem;
            font-size: 1rem;
            color: #213F7D;

            &:hover {
                opacity: .8;
            }

            span {
                position: absolute;
                top: -40%;
                right: -70%;
                background: #E4033B;
                color: #fff;
                border-radius: 50%;
                font-size: .7rem;
                width: 20px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .profileMain {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: .75rem;

            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            h3 {
                margin: 0 .75rem;
                color: #213F7D;
                font-family: 'Work Sans', sans-serif;
                font-weight: 600;
                font-size: 1rem;
            }

            button {
                cursor: pointer;
                color: #213F7D;

                &:hover {
                    opacity: .8;
                }
            }
        }

        .burger {
            display: none;
            cursor: pointer;
            z-index: 99;
            caret-color: transparent;

            .line0 {
                width: 30px;
                height: 2px;
                background: #213F7D;
                margin: 5px;
                border-radius: 8px;
                transition: all 0.3s ease;
            }

            .line1 {
                width: 30px;
                height: 2px;
                background: #213F7D;
                margin: 5px;
                border-radius: 8px;
                transition: all 0.3s ease;
            }

            .line2 {
                width: 30px;
                height: 2px;
                background: #213F7D;
                margin: 5px;
                border-radius: 8px;
                transition: all 0.3s ease;
            }
        }

        .bro {
            display: none;
            cursor: pointer;
            z-index: 99;
            caret-color: transparent;

            .line0 {
                width: 30px;
                height: 2px;
                margin: 5px;
                border-radius: 8px;
                transform: rotate(-45deg) translate(-5px, 6px);
                background: #213F7D;
                transition: all 0.3s ease;
            }

            .line1 {
                width: 30px;
                height: 2px;
                background: #213F7D;
                margin: 5px;
                border-radius: 8px;
                transition: all 0.3s ease;
                opacity: 0;
            }

            .line2 {
                width: 30px;
                height: 2px;
                background: #213F7D;
                margin: 5px;
                border-radius: 8px;
                transition: all 0.3s ease;
                transform: rotate(42deg) translate(-3.5px, -5.5px);
                margin-top: 5px;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    .header {

        .imgCon {
            width: 18rem;
            padding: 0 2rem;


        }

        .form {

            form {
                display: flex;
                justify-content: space-between;
                width: 50%;

                input {
                    font-size: .75rem;

                    &::placeholder {
                        font-size: 0.7rem;
                    }

                }

                button {
                    font-size: .75rem;


                }
            }
        }

        .profile {

            .docs {
                font-size: .75rem;
            }

            .notififcation {
                font-size: .75rem;

                span {
                    width: 15px;
                    height: 15px;
                    font-size: .5rem;
                }
            }

            .profileMain {

                img {
                    width: 30px;
                    height: 30px;
                }

                h3 {
                    font-size: .75rem;
                }

                button {
                    cursor: pointer;
                    color: #213F7D;

                    &:hover {
                        opacity: .8;
                    }
                }
            }




        }
    }
}


@media screen and (max-width:768px) {
    .header {
        height: 10vh;

        .imgCon {
            width: auto;
            padding: 0;
            margin-left: 1rem;
        }

        .form {
            width: auto;

            form {
                display: none;
                // display: flex;
                justify-content: space-between;
                width: 50%;

                input {
                    font-size: .75rem;

                    &::placeholder {
                        font-size: 0.7rem;
                    }

                }

                button {
                    font-size: .75rem;


                }
            }
        }

        .profile {

            .docs {
                font-size: .75rem;
            }

            .notififcation {
                font-size: .75rem;
            }

            .profileMain {
                img {
                    margin: 0 .5rem;
                }

                h3 {
                    font-size: 1rem;
                    display: none;
                }
            }

            .bro,
            .burger {
                display: block;
            }
        }
    }
}

@media screen and (max-width:540px) {
    .header {
        height: 10vh;

        .imgCon {
            width: auto;
            padding: 0;
            margin-left: 1rem;
        }

        .form {
            width: auto;

            form {
                display: none;
                // display: flex;
                justify-content: space-between;
                width: 50%;

                input {
                    font-size: .75rem;

                    &::placeholder {
                        font-size: 0.7rem;
                    }

                }

                button {
                    font-size: .75rem;


                }
            }
        }

        .profile {

            .docs {
                font-size: .75rem;
            }

            .notififcation {
                font-size: .75rem;


            }

            .profileMain {

                img {
                    display: none;
                    margin: 0 .75rem;
                }

                h3 {
                    font-size: 1rem;
                    display: none;
                }
            }


        }
    }
}